$listStyleType: armenian;

.hello {
  color: 'red';
}

.list {
  .hello {
    color: 'green';
  }

  margin-left: 20rem;
}

.list-item {
  list-style-type: $listStyleType;
}

.another-class {
  color: red;
}
