
/**
 * Without the babel plugin, starting the server will yield this error:
 * "Invariant Violation: loadable: SSR requires `@loadable/babel-plugin`"
 *
 * babel-plugin is needed in order to do server-side rendering with the l
 * oadable components package.
 *
 * https://loadable-components.com/docs/babel-plugin/
*/

{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "babel-plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
